.enhanced th,
.enhanced td {
  display: none;
}
.enhanced .essential,
.enhanced .essential {
  display: table-cell;
}
.responsive-table-container {
  overflow: hidden;
}
.display-list-item {
  margin-left: 15px;
}
.display-menu > a {
  float: right;
  background-color: #eee;
  padding: 5px;
  width: 10em;
  text-align: center;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.display-menu .display-list {
  background-color: #eee;
  padding: 0;
  float: right;
  clear: both;
  width: 10em;
  display: none;
  list-style-type: none;
  padding: 10px 0;
}
.display-menu .display-list-item {
  margin-bottom: 5px;
}
.display-menu input {
  margin-right: 5px;
}
@media screen and (min-width: 500px) {
  .enhanced .optional,
  .enhanced .optional {
    display: table-cell;
  }
}
@media screen and (min-width: 768px) {
  .enhanced .optional,
  .enhanced .optional {
    display: table-cell;
  }
}
@media screen and (min-width: 992px) {
  .enhanced th,
  .enhanced td {
    display: table-cell;
  }
}
.enhanced .col-visible {
  display: table-cell;
}
.enhanced .col-hidden {
  display: none;
}
